# Quantitative Value Strategy

In [1]:
import numpy as np
import pandas as pd
import requests
import math
from scipy import stats
import xlsxwriter
import yfinance as yf
from datetime import datetime, timedelta

In [2]:
sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')
sp500 = sp500['Symbol'].to_list()

In [3]:
stocks_combined = ' '.join(sp500)

stocks_data = yf.Tickers(stocks_combined)
stocks_data = stocks_data.tickers

In [4]:
my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns=my_columns)

for stock_ticker in stocks_data.values():

    response = stock_ticker.info

    if 'currentPrice' in response and 'trailingPE' in response:
        new_row = pd.Series(
        [response['symbol'], response['currentPrice'], response['trailingPE'], 'N/A'],
        index=my_columns
        )
    else:
        new_row = pd.Series(
        [response['symbol'], 0, 0, 'N/A'],
        index=my_columns
        )
    

    final_dataframe = pd.concat([final_dataframe, new_row.to_frame().T], ignore_index = True)

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0      MMM  125.24               48.731518                     N/A
1      AOS    82.4                21.29199                     N/A
2      ABT  111.31               35.113564                     N/A
3     ABBV  189.29                63.30769                     N/A
4      ACN  323.15                29.59249                     N/A
..     ...     ...                     ...                     ...
498    XYL  130.15                40.16975                     N/A
499    YUM  135.18               23.968084                     N/A
500   ZBRA   322.3                72.42696                     N/A
501    ZBH  110.36               23.939262                     N/A
502    ZTS  180.59               34.862934                     N/A

[503 rows x 4 columns]

In [5]:
final_dataframe.sort_values('Price-to-Earnings Ratio', ascending=False, inplace=True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace=True, drop=True)

   Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0    CRWD   217.89               403.49997                     N/A
1    GILD    76.77               213.24998                     N/A
2     LUV    25.05                192.6923                     N/A
3     DAY    53.23               177.43332                     N/A
4     AMD    132.5               159.63855                     N/A
5    INCY    64.47               157.24391                     N/A
6    CSGP    75.27                  144.75                     N/A
7     NOW   790.64               142.97287                     N/A
8     ARE   113.36                   141.7                     N/A
9     IRM   106.69               136.78206                     N/A
10    LLY   804.46               119.00296                     N/A
11    TYL   575.81                 118.969                     N/A
12   ENPH   105.19               113.10753                     N/A
13   WELL   112.76                104.4074                     N/A
14    FIS    74.36               103.27777                     N/A
15     DD    79.12              101.435905                     N/A
16    UDR    40.59                    99.0                     N/A
17    DIS    89.57               97.358696                     N/A
18   MPWR   795.76                94.28436                     N/A
19   UBER    58.99               93.634926                     N/A
20   INTC    21.48                    89.5                     N/A
21   AXON   292.36               85.485374                     N/A
22   FICO  1600.38               84.053566                     N/A
23    LYV    91.21                82.91818                     N/A
24   EQIX   806.65                  80.665                     N/A
25   ISRG   449.73                77.53966                     N/A
26   RVTY   123.27                77.04375                     N/A
27    GLW    38.94                76.35294                     N/A
28    NWS    27.14                73.35135                     N/A
29   ZBRA    322.3                72.42696                     N/A
30   NWSA     26.3                71.08108                     N/A
31    PTC   172.05                70.51229                     N/A
32    RTX   116.44                67.69768                     N/A
33   CDNS   249.63               64.503876                     N/A
34   TECH    80.17                  64.136                     N/A
35    CLX   144.09                   64.04                     N/A
36   ABBV   189.29                63.30769                     N/A
37   NVDA   107.27                62.73099                     N/A
38   AVGO   143.82               61.991383                     N/A
39    EFX   284.63                60.94861                     N/A
40    BSX     74.5               60.569103                     N/A
41    STX    94.57               59.854427                     N/A
42   PODD   196.45               59.171688                     N/A
43   TSLA   207.67               58.498592                     N/A
44   INTU   623.92                57.82391                     N/A
45    AJG   287.14               56.191784                     N/A
46   SNPS   505.78               55.276505                     N/A
47      O    59.32               54.925922                     N/A
48    COO    93.27               54.864704                     N/A
49    BXP    66.93               54.860653                     N/A

In [6]:
def getAmountToInvest():
    portfolio_size = input('Enter the Amount')
    val = 0.0
    while(True):
        try:
            val = float(portfolio_size)
            break
        except:
            portfolio_size = input('Enter the Amount Again')
    
    return (val)

In [13]:
x = getAmountToInvest() / len(final_dataframe.index)
for i in range(0 , len(final_dataframe.index)):
    final_dataframe.loc[i ,'Number of Shares to Buy'] = math.floor(x / final_dataframe.loc[i, 'Price'])

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0    PRGO    28.0                  2800.0                     714
1     AMD  151.58               216.54286                     131
2    GILD   72.56               201.55554                     275
3     VNO   28.71                   191.4                     696
4     AAP   59.62                165.6111                     335
5     IRM   98.28               148.90909                     203
6     MRK  125.77               138.20879                     159
7     LLY  857.47               126.65731                      23
8    WELL  107.41               124.89535                     186
9     TYL  524.33               119.16591                      38
10    ARE  125.21               118.12265                     159
11    FIS   75.25              104.513885                     265
12    DIS   95.74              104.065216                     208
13    LYV    95.1                 87.2477                     210
14     DD   79.64               86.565216                     251
15     IP   45.72                86.26416                     437
16    NOW   751.2                    80.0                      26
17   EQIX  786.82                78.83968                      25
18   ISRG  455.01                78.18041                      43
19    NWS   28.19               76.189186                     709
20   NWSA   27.37                73.97298                     730
21   CDNS  279.95                72.90365                      71
22   DXCM  111.66                 72.5065                     179
23    CLX  135.14                69.30256                     147
24   NVDA  117.93                68.96491                     169
25   AVGO  157.35               67.532196                     127
26   ABMD  381.02                65.35506                      52
27    BSX   77.56                65.17647                     257
28   LDOS  149.94                64.07693                     133
29   ZBRA  321.45               63.653465                      62
30   ANSS  314.54                63.28773                      63
31    GLW   44.31               61.541668                     451
32   SNPS  563.12               61.342045                      35
33    FTI   28.15               59.893616                     710
34   INTU  636.56               58.831795                      31
35    CMG   53.54               56.957447                     373
36     EL   99.18                 55.7191                     201
37    EFX   260.3               55.501064                      76
38   CTVA   54.78               55.333332                     365
39    ROL   49.44               54.933334                     404
40    AJG  270.27               54.932922                      74
41    BXP   66.76               54.721313                     299
42   JNPR   37.29                54.04348                     536
43    ADI  231.22                54.02336                      86
44   SPGI  479.84                53.73348                      41
45    COO   90.75                53.38235                     220
46      O   57.58               53.314816                     347
47   ADSK  242.45                52.59219                      82
48   COST  838.13                52.09012                      23
49   AMZN  183.13                51.29692                     109

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

## Building a Better (and More Realistic) Value Strategy

In [9]:
my_columns = ['Ticker', 
              'Price', 
              'Price-to-Earnings Ratio',
              'PE Percentile',
              'Price-to-Book Ratio',
              'PB Percentile',
              'Price-to-Sales Ratio',
              'PS Percentile',
              'EV/EBITDA',
              'EE Percentile',
              'EV/GP',
              'EG Percentile',
              'Number of Shares to Buy'
            ]

In [11]:
final_dataframe = pd.DataFrame(columns=my_columns)

for stock_ticker in stocks_data.values():

    response = stock_ticker.info

    row = []
    row.append(response['symbol'])

    if 'currentPrice' in response:
        row.append(response['currentPrice'])
    else:
        row.append(0)

    if 'trailingPE' in response:
        row.append(response['trailingPE'] / 100)
    else:
        row.append(0)

    row.append(0)

    if 'priceToBook' in response:
        row.append(response['priceToBook'] / 100)
    else:
        row.append(0)

    row.append(0)

    if 'priceToSalesTrailing12Months' in response:
        row.append(response['priceToSalesTrailing12Months'] / 100)
    else:
        row.append(0)

    row.append(0)

    if 'enterpriseToEbitda' in response:
        row.append(response['enterpriseToEbitda'] / 100)
    else:
        row.append(0)
    
    row.append(0)

    if 'enterpriseValue' in response and 'grossMargins' in response:
        row.append((response['enterpriseValue'] / (response['grossMargins'] * response['totalRevenue'])) / 100)
    else:
        row.append(0)

    row.append(0)

    row.append(0)
    
    new_row = pd.Series(
        row,
        index=my_columns
    )
    

    final_dataframe = pd.concat([final_dataframe, new_row.to_frame().T], ignore_index = True)

,Ticker,Price,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EE Percentile,EV/GP,EG Percentile,Number of Shares to Buy
0,MMM,125.24,48.731518,0,17.570147,0,2.109557,0,9.824,0,4.950085,0,0
1,AOS,82.4,21.29199,0,6.286717,0,3.058932,0,14.416,0,7.930902,0,0
2,ABT,111.31,35.113564,0,4.925657,0,4.755513,0,19.065,0,8.920604,0,0
3,ABBV,189.29,63.30769,0,41.739803,0,6.077482,0,14.88,0,10.21586,0,0
4,ACN,323.15,29.59249,0,7.298536,0,3.139408,0,17.939,0,9.632895,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,XYL,130.15,40.16975,0,3.057102,0,3.765188,0,20.289,0,10.646601,0,0
499,YUM,135.18,23.968084,0,0,0,5.416277,0,19.193,0,14.149908,0,0
500,ZBRA,322.3,72.42696,0,5.056559,0,3.815552,0,28.392,0,9.160476,0,0
501,ZBH,110.36,23.939262,0,1.801943,0,3.046554,0,11.451,0,5.287035,0,0
502,ZTS,180.59,34.862934,0,16.314934,0,9.434659,0,24.452,0,14.249613,0,0

In [17]:
from scipy.stats import percentileofscore as score

metrics = {
    'Price-to-Earnings Ratio': 'PE Percentile',
    'Price-to-Book Ratio': 'PB Percentile',
    'Price-to-Sales Ratio': 'PS Percentile',
    'EV/EBITDA': 'EE Percentile',
    'EV/GP': 'EG Percentile'
}

for row in final_dataframe.index:
    for metric in metrics.keys():
        final_dataframe.loc[row, metrics[metric]] = score(final_dataframe[metric], int(final_dataframe.loc[row, metric])) / 100

In [19]:
from statistics import mean

for row in final_dataframe.index:
    scores = []
    for metric in metrics.values():
        scores.append(final_dataframe.loc[row, metric])
    final_dataframe.loc[row, 'Score'] = mean(scores)

In [22]:
final_dataframe.sort_values('Score', ascending=True, inplace=True)
final_dataframe = final_dataframe[final_dataframe['Score'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace=True, drop=True)

In [23]:
x = getAmountToInvest() / len(final_dataframe.index)
for i in range(0 , len(final_dataframe.index)):
    final_dataframe.loc[i ,'Number of Shares to Buy'] = math.floor(x / final_dataframe.loc[i, 'Price'])

In [25]:
writer = pd.ExcelWriter('Value Strategy.xlsx', engine='xlsxwriter')
final_dataframe.to_excel(writer, sheet_name='Value Strategy.xlsx', index=False)

In [26]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [27]:
columns_format = {
    'A': ['Ticker', string_template],
    'B': ['Price', dollar_template],
    'C': ['Price-to-Earning Ratio', percent_template],
    'D': ['PE Percentile', percent_template],
    'E': ['Price-to-Book Ratio', percent_template],
    'F': ['PB Percentile', percent_template],
    'G': ['Price-to-Sale Ratio', percent_template],
    'H': ['PS Percentile', percent_template],
    'I': ['EV/EBITDA', percent_template],
    'J': ['EE Ratio', percent_template],
    'K': ['EV/GP Ratio', percent_template],
    'L': ['EG Percentile', percent_template],
    'M': ['Number of Shares to Buy', integer_template],
    'N': ['Score', integer_template]
}

for column in columns_format.keys():
    writer.sheets["Value Strategy.xlsx"].set_column(f'{column}:{column}', 25, columns_format[column][1])
    writer.sheets["Value Strategy.xlsx"].write(f'{column}1', columns_format[column][0], columns_format[column][1])

writer.close()